.footer-navigation
  position fixed
  bottom 0

.footer-navigation
  width 100%

.navigation-items
  -webkit-padding-start 0
//  margin 0

.navigation-items
    li:first-of-type
      background #dbffdb
    li:nth-of-type(2)
      background #e8d1ff
    li:nth-of-type(3)
      background #ffdbdb
    li:nth-of-type(4)
      background #d6edff


.navigation-item
  border-top 1px solid #999
  padding 10px 0
  text-align center
  list-style-type none

  a
    display block
    width 100%
    font-size 1.5rem
    text-decoration none
    color #333


